.banner-wrapper {
  height: 89vh;
  background-image: url("../../../assets/images/banner/bannerThree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-child {
  background-color: #140342;
  opacity: 0.5;
  height: 89vh;
}

.banner-main {
  height: 600px;
}
.banner-clip{
  clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)
}
.banner-image{
  background-image: url('../../../assets/images/banner/bannerOne.jpg');
}